* {
  color: white;
  box-sizing: border-box;
}

/* Define popup dimensions */
body {
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  border: solid 3px #000;
  overflow: hidden;
}

/* Style the popup content */
.popup-content {
  font-family: cursive;
  text-align: center;
  background-color: green;
}

#content-box {
  position: absolute;
  width: 300px;
  height: 300px;
}

/* Style the popup header */
#header {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

#header #outer-menu-h1 {
  margin: 0px;
  padding: 0px;
}

#header #inner-menu-h1 {
  margin: 0px 0px 0px 50px;
  padding: 0px;
}

#header #back-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-right: solid 3px #000;
}

/* Style the popup outer menu box */
#menu-outer-box {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 200px;
  border-top: solid 5px #000;
  border-bottom: solid 5px #000;
  overflow: hidden;
}

.menu-item {
  position: absolute;
  width: 100%;
  height: 25%;
  line-height: 47px;
  cursor: pointer;
  background-color: darkgreen;
}

.menu-item:hover {
  background-color: #005500; /* Darker shade for highlight */
  transform: scale(1.10); /* Slightly increase the size */
}

.menu-item .receipt-total {
  height: 50%;
  line-height: 25px;  
}

.menu-item .receipt-date {
  top: 50%;
  height: 50%;
  line-height: 25px;
}

/* Style the receipt view */
#receipts-container {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 250px;
  border-top: solid 5px #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

#receipts-inner-container {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

#receipts-inner-container .receipt-preview {
  position: absolute;
  width: 100%;
  height: 25%;
  cursor: pointer;
  background-color: darkgreen;
}

#receipts-inner-container .receipt-preview-inner {
  position: absolute;
  left: 12.5%;
  width: 75%;
  height: 100%;
  line-height: 25px;
  font-weight: 800;
}

#receipts-container .receipts-title {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10%;
}

#receipts-container .receipts-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.receipts-footer #export-text {
  margin: 0px;
  padding: 0px;
  line-height: 25px;
  font-size: 12px;
  cursor: pointer;
}

.receipt {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.receipt .receipt-item {
  margin: 0px 10px 10px 0px;
  text-align: left;
  font-size: 14px;
}

/* Style the popup view-receipts menu option */
#view-receipts {
  top: 0%;
  border-bottom: solid 3px #000;
}

/* Style the popup upload-receipt menu option */
#upload-receipt {
  top: 25%;
  border-bottom: solid 3px #000;
}

/* Style the popup settings menu option */
#settings {
  top: 50%;
  border-bottom: solid 3px #000;
}

/* Style the popup faq menu */
#faq {
  top: 75%;
  line-height: 50px;
}


/* Style the footer */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

#footer p {
  margin: 0px;
  padding: 0px;
  line-height: 25px;
  font-size: 14px;
}
